In [60]:
import pandas as pd
import numpy as np
import re

In [61]:
df = pd.read_csv(r"C:\Users\Noman\Desktop\Anushka\VAD_MEAN_UPDATED.csv")

In [62]:
df

     valence   arousal  Dominance  Pattern
0   2.927143  8.190000   6.972857   mit003
1   6.240000  7.072500   6.385000   mit004
2   3.155714  4.455714   3.440000   mit007
3   4.500625  6.293125   3.675625   mit014
4   2.534286  5.405714   4.107143   mit017
5   3.148333  4.077917   3.105833   mit022
6   2.275714  7.001429   2.147143   mit023
7   3.872500  4.773750   4.663750   mit024
8   1.087000  7.994000   7.362000   mit032
9   3.963889  6.914444   4.987222   mit035
10  2.385000  6.650000   5.256667   mit039
11  6.168000  4.400000   4.950000   mit040
12  2.713846  5.353846   3.473077   mit051
13  4.112143  5.773214   2.057857   mit052
14  1.012000  7.680000   6.204000   mit054
15  6.423333  6.710000   5.867778   mit061
16  2.770000  6.572857   4.648571   mit067
17  3.697812  6.456563   5.008438   mit072
18  2.840000  6.761053   3.318421   mit074
19  1.037500  8.482500   7.007500   mit076
20  4.794348  8.783478   5.599565   mit079
21  2.025000  7.678333   2.438333   mit080
22  3.297500  6.160000   4.737500   mit081
23  3.463913  7.389565   5.753478   mit082
24  4.814000  7.620000   7.194000   mit096
25  2.528750  5.077500   4.047500   mit097
26  3.147143  6.384762   4.719048   mit099
27  7.396000  8.616000   6.210000   mit104
28  6.230000  5.806667   6.624444   mit106
29  3.016000  4.002000   3.658000   mit107
30  2.717500  5.663750   2.963750   mit108
31  4.349091  7.170000   5.908182   mit111
32  3.521667  4.681667   2.995000   mit113
33  4.384167  8.563333   7.306250   mit114
34  3.403333  4.174167   5.710833   mit116
35  3.505000  4.735000   8.290000   mit117
36  4.512667  6.282667   7.200667   mit121
37  3.295000  8.215000   4.630556   mit122
38  1.104000  5.310000   2.330000   mit123
39  3.168571  5.760000   4.731429  mitb201

In [65]:
df = df[~df['Pattern'].str.contains('mitb')]

In [66]:
df

     valence   arousal  Dominance Pattern Extracted_Roll_Number
0   2.927143  8.190000   6.972857  mit003                     3
1   6.240000  7.072500   6.385000  mit004                     4
2   3.155714  4.455714   3.440000  mit007                     7
3   4.500625  6.293125   3.675625  mit014                    14
4   2.534286  5.405714   4.107143  mit017                    17
5   3.148333  4.077917   3.105833  mit022                    22
6   2.275714  7.001429   2.147143  mit023                    23
7   3.872500  4.773750   4.663750  mit024                    24
8   1.087000  7.994000   7.362000  mit032                    32
9   3.963889  6.914444   4.987222  mit035                    35
10  2.385000  6.650000   5.256667  mit039                    39
11  6.168000  4.400000   4.950000  mit040                    40
12  2.713846  5.353846   3.473077  mit051                    51
13  4.112143  5.773214   2.057857  mit052                    52
14  1.012000  7.680000   6.204000  mit054                    54
15  6.423333  6.710000   5.867778  mit061                    61
16  2.770000  6.572857   4.648571  mit067                    67
17  3.697812  6.456563   5.008438  mit072                    72
18  2.840000  6.761053   3.318421  mit074                    74
19  1.037500  8.482500   7.007500  mit076                    76
20  4.794348  8.783478   5.599565  mit079                    79
21  2.025000  7.678333   2.438333  mit080                    80
22  3.297500  6.160000   4.737500  mit081                    81
23  3.463913  7.389565   5.753478  mit082                    82
24  4.814000  7.620000   7.194000  mit096                    96
25  2.528750  5.077500   4.047500  mit097                    97
26  3.147143  6.384762   4.719048  mit099                    99
27  7.396000  8.616000   6.210000  mit104                   104
28  6.230000  5.806667   6.624444  mit106                   106
29  3.016000  4.002000   3.658000  mit107                   107
30  2.717500  5.663750   2.963750  mit108                   108
31  4.349091  7.170000   5.908182  mit111                   111
32  3.521667  4.681667   2.995000  mit113                   113
33  4.384167  8.563333   7.306250  mit114                   114
34  3.403333  4.174167   5.710833  mit116                   116
35  3.505000  4.735000   8.290000  mit117                   117
36  4.512667  6.282667   7.200667  mit121                   121
37  3.295000  8.215000   4.630556  mit122                   122
38  1.104000  5.310000   2.330000  mit123                   123

In [68]:
df

     valence   arousal  Dominance Pattern  Extracted_Roll_Number
0   2.927143  8.190000   6.972857  mit003                      3
1   6.240000  7.072500   6.385000  mit004                      4
2   3.155714  4.455714   3.440000  mit007                      7
3   4.500625  6.293125   3.675625  mit014                     14
4   2.534286  5.405714   4.107143  mit017                     17
5   3.148333  4.077917   3.105833  mit022                     22
6   2.275714  7.001429   2.147143  mit023                     23
7   3.872500  4.773750   4.663750  mit024                     24
8   1.087000  7.994000   7.362000  mit032                     32
9   3.963889  6.914444   4.987222  mit035                     35
10  2.385000  6.650000   5.256667  mit039                     39
11  6.168000  4.400000   4.950000  mit040                     40
12  2.713846  5.353846   3.473077  mit051                     51
13  4.112143  5.773214   2.057857  mit052                     52
14  1.012000  7.680000   6.204000  mit054                     54
15  6.423333  6.710000   5.867778  mit061                     61
16  2.770000  6.572857   4.648571  mit067                     67
17  3.697812  6.456563   5.008438  mit072                     72
18  2.840000  6.761053   3.318421  mit074                     74
19  1.037500  8.482500   7.007500  mit076                     76
20  4.794348  8.783478   5.599565  mit079                     79
21  2.025000  7.678333   2.438333  mit080                     80
22  3.297500  6.160000   4.737500  mit081                     81
23  3.463913  7.389565   5.753478  mit082                     82
24  4.814000  7.620000   7.194000  mit096                     96
25  2.528750  5.077500   4.047500  mit097                     97
26  3.147143  6.384762   4.719048  mit099                     99
27  7.396000  8.616000   6.210000  mit104                    104
28  6.230000  5.806667   6.624444  mit106                    106
29  3.016000  4.002000   3.658000  mit107                    107
30  2.717500  5.663750   2.963750  mit108                    108
31  4.349091  7.170000   5.908182  mit111                    111
32  3.521667  4.681667   2.995000  mit113                    113
33  4.384167  8.563333   7.306250  mit114                    114
34  3.403333  4.174167   5.710833  mit116                    116
35  3.505000  4.735000   8.290000  mit117                    117
36  4.512667  6.282667   7.200667  mit121                    121
37  3.295000  8.215000   4.630556  mit122                    122
38  1.104000  5.310000   2.330000  mit123                    123

In [69]:
df_pid = pd.read_csv(r"C:\Users\Noman\Desktop\Anushka\perexp_table_mapping_UPDATED.csv")

In [70]:
df_pid

,roll_number,participant_id,hash,roll_number_suffix
0,MIT2019002,42,42211bb432eb49d6835bb9cef352f0a5,2
1,MIT2019003,124,364b732763e6856f6f2ed77e4f693214,3
2,MIT2019004,79,40b3b2dfe705874a25bea817654c9423,4
3,MIT2019005,65,a69b8ad1f20a26c2c54ec8f7942eefdc,5
4,MIT2019006,55,0e5fb95427957a12db513d0eaee22114,6
...,...,...,...,...
95,MIT2019120,36,0037d55ea076f7facda8f3bd6b015573,120
96,MIT2019121,77,58c2bd8a8be6198468412a24a56acf0b,121
97,MIT2019122,98,691bf46157f3261e291ce4623bbe025c,122
98,MIT2019123,100,23f769b633812e5fc6979cfe6c878413,123
99,MIT2019124,78,b3948c5c2d57cbaada2912e26f33f615,124

In [71]:
df_pid = df_pid[~df_pid['roll_number'].str.contains('MITB')]
df_pid

,roll_number,participant_id,hash,roll_number_suffix
0,MIT2019002,42,42211bb432eb49d6835bb9cef352f0a5,2
1,MIT2019003,124,364b732763e6856f6f2ed77e4f693214,3
2,MIT2019004,79,40b3b2dfe705874a25bea817654c9423,4
3,MIT2019005,65,a69b8ad1f20a26c2c54ec8f7942eefdc,5
4,MIT2019006,55,0e5fb95427957a12db513d0eaee22114,6
...,...,...,...,...
95,MIT2019120,36,0037d55ea076f7facda8f3bd6b015573,120
96,MIT2019121,77,58c2bd8a8be6198468412a24a56acf0b,121
97,MIT2019122,98,691bf46157f3261e291ce4623bbe025c,122
98,MIT2019123,100,23f769b633812e5fc6979cfe6c878413,123
99,MIT2019124,78,b3948c5c2d57cbaada2912e26f33f615,124

In [74]:
# # Merge df and df2 on the common column
# merged_df = pd.merge(df, df_pid, how='left', left_on='Extracted_Roll_Number', right_on='roll_number_suffix')

# # Extract the participant_id column
# participant_ids = merged_df['participant_id']

# # Save it as a new column in df
# df['participant_id'] = participant_ids




# Fill missing values in participant_id column with a default value, e.g., -1
merged_df['participant_id'] = merged_df['participant_id'].fillna(-1)

# Convert participant_id column to integer type
merged_df['participant_id'] = merged_df['participant_id'].astype(int)

# Save it as a new column in df
df['participant_id'] = merged_df['participant_id']

C:\Users\Noman\AppData\Local\Temp\ipykernel_5688\895863364.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['participant_id'] = merged_df['participant_id']

In [75]:
df

,valence,arousal,Dominance,Pattern,Extracted_Roll_Number,participant_id
0,2.927143,8.190000,6.972857,mit003,3,124
1,6.240000,7.072500,6.385000,mit004,4,79
2,3.155714,4.455714,3.440000,mit007,7,41
3,4.500625,6.293125,3.675625,mit014,14,64
4,2.534286,5.405714,4.107143,mit017,17,48
5,3.148333,4.077917,3.105833,mit022,22,8
6,2.275714,7.001429,2.147143,mit023,23,69
7,3.872500,4.773750,4.663750,mit024,24,54
8,1.087000,7.994000,7.362000,mit032,32,130
9,3.963889,6.914444,4.987222,mit035,35,99
10,2.385000,6.650000,5.256667,mit039,39,132
11,6.168000,4.400000,4.950000,mit040,40,30
12,2.713846,5.353846,3.473077,mit051,51,125
13,4.112143,5.773214,2.057857,mit052,52,101
14,1.012000,7.680000,6.204000,mit054,54,75
15,6.423333,6.710000,5.867778,mit061,61,46
16,2.770000,6.572857,4.648571,mit067,67,92
17,3.697812,6.456563,5.008438,mit072,72,72
18,2.840000,6.761053,3.318421,mit074,74,122
19,1.037500,8.482500,7.007500,mit076,76,93
20,4.794348,8.783478,5.599565,mit079,79,83
21,2.025000,7.678333,2.438333,mit080,80,117
22,3.297500,6.160000,4.737500,mit081,81,82
23,3.463913,7.389565,5.753478,mit082,82,10
24,4.814000,7.620000,7.194000,mit096,96,81
25,2.528750,5.077500,4.047500,mit097,97,12
26,3.147143,6.384762,4.719048,mit099,99,37
27,7.396000,8.616000,6.210000,mit104,104,62
28,6.230000,5.806667,6.624444,mit106,106,73
29,3.016000,4.002000,3.658000,mit107,107,38
30,2.717500,5.663750,2.963750,mit108,108,-1
31,4.349091,7.170000,5.908182,mit111,111,115
32,3.521667,4.681667,2.995000,mit113,113,97
33,4.384167,8.563333,7.306250,mit114,114,68
34,3.403333,4.174167,5.710833,mit116,116,56
35,3.505000,4.735000,8.290000,mit117,117,17
36,4.512667,6.282667,7.200667,mit121,121,77
37,3.295000,8.215000,4.630556,mit122,122,98
38,1.104000,5.310000,2.330000,mit123,123,100

In [76]:
df = df[df['participant_id'] != -1]
df

,valence,arousal,Dominance,Pattern,Extracted_Roll_Number,participant_id
0,2.927143,8.190000,6.972857,mit003,3,124
1,6.240000,7.072500,6.385000,mit004,4,79
2,3.155714,4.455714,3.440000,mit007,7,41
3,4.500625,6.293125,3.675625,mit014,14,64
4,2.534286,5.405714,4.107143,mit017,17,48
5,3.148333,4.077917,3.105833,mit022,22,8
6,2.275714,7.001429,2.147143,mit023,23,69
7,3.872500,4.773750,4.663750,mit024,24,54
8,1.087000,7.994000,7.362000,mit032,32,130
9,3.963889,6.914444,4.987222,mit035,35,99
10,2.385000,6.650000,5.256667,mit039,39,132
11,6.168000,4.400000,4.950000,mit040,40,30
12,2.713846,5.353846,3.473077,mit051,51,125
13,4.112143,5.773214,2.057857,mit052,52,101
14,1.012000,7.680000,6.204000,mit054,54,75
15,6.423333,6.710000,5.867778,mit061,61,46
16,2.770000,6.572857,4.648571,mit067,67,92
17,3.697812,6.456563,5.008438,mit072,72,72
18,2.840000,6.761053,3.318421,mit074,74,122
19,1.037500,8.482500,7.007500,mit076,76,93
20,4.794348,8.783478,5.599565,mit079,79,83
21,2.025000,7.678333,2.438333,mit080,80,117
22,3.297500,6.160000,4.737500,mit081,81,82
23,3.463913,7.389565,5.753478,mit082,82,10
24,4.814000,7.620000,7.194000,mit096,96,81
25,2.528750,5.077500,4.047500,mit097,97,12
26,3.147143,6.384762,4.719048,mit099,99,37
27,7.396000,8.616000,6.210000,mit104,104,62
28,6.230000,5.806667,6.624444,mit106,106,73
29,3.016000,4.002000,3.658000,mit107,107,38
31,4.349091,7.170000,5.908182,mit111,111,115
32,3.521667,4.681667,2.995000,mit113,113,97
33,4.384167,8.563333,7.306250,mit114,114,68
34,3.403333,4.174167,5.710833,mit116,116,56
35,3.505000,4.735000,8.290000,mit117,117,17
36,4.512667,6.282667,7.200667,mit121,121,77
37,3.295000,8.215000,4.630556,mit122,122,98
38,1.104000,5.310000,2.330000,mit123,123,100

In [77]:
# Reset index without keeping the old index
df = df.reset_index(drop=True)
df

,valence,arousal,Dominance,Pattern,Extracted_Roll_Number,participant_id
0,2.927143,8.190000,6.972857,mit003,3,124
1,6.240000,7.072500,6.385000,mit004,4,79
2,3.155714,4.455714,3.440000,mit007,7,41
3,4.500625,6.293125,3.675625,mit014,14,64
4,2.534286,5.405714,4.107143,mit017,17,48
5,3.148333,4.077917,3.105833,mit022,22,8
6,2.275714,7.001429,2.147143,mit023,23,69
7,3.872500,4.773750,4.663750,mit024,24,54
8,1.087000,7.994000,7.362000,mit032,32,130
9,3.963889,6.914444,4.987222,mit035,35,99
10,2.385000,6.650000,5.256667,mit039,39,132
11,6.168000,4.400000,4.950000,mit040,40,30
12,2.713846,5.353846,3.473077,mit051,51,125
13,4.112143,5.773214,2.057857,mit052,52,101
14,1.012000,7.680000,6.204000,mit054,54,75
15,6.423333,6.710000,5.867778,mit061,61,46
16,2.770000,6.572857,4.648571,mit067,67,92
17,3.697812,6.456563,5.008438,mit072,72,72
18,2.840000,6.761053,3.318421,mit074,74,122
19,1.037500,8.482500,7.007500,mit076,76,93
20,4.794348,8.783478,5.599565,mit079,79,83
21,2.025000,7.678333,2.438333,mit080,80,117
22,3.297500,6.160000,4.737500,mit081,81,82
23,3.463913,7.389565,5.753478,mit082,82,10
24,4.814000,7.620000,7.194000,mit096,96,81
25,2.528750,5.077500,4.047500,mit097,97,12
26,3.147143,6.384762,4.719048,mit099,99,37
27,7.396000,8.616000,6.210000,mit104,104,62
28,6.230000,5.806667,6.624444,mit106,106,73
29,3.016000,4.002000,3.658000,mit107,107,38
30,4.349091,7.170000,5.908182,mit111,111,115
31,3.521667,4.681667,2.995000,mit113,113,97
32,4.384167,8.563333,7.306250,mit114,114,68
33,3.403333,4.174167,5.710833,mit116,116,56
34,3.505000,4.735000,8.290000,mit117,117,17
35,4.512667,6.282667,7.200667,mit121,121,77
36,3.295000,8.215000,4.630556,mit122,122,98
37,1.104000,5.310000,2.330000,mit123,123,100

### 3rd CSV

In [78]:
df3= pd.read_csv(r"C:\Users\Noman\Desktop\Anushka\perexp_table_neopir.csv")
df3

,participant_id,assessment_date,q1,q2,q3,q4,q5,q6,q7,q8,...,C2_Orderliness,C3_Dutifulness,C4_Achievement_Striving,C5_Self_Discipline,C6_Cautiousness,Neuroticism,Extraversion,Openness,Agreeableness,Conscientiousness
0,1,2019-08-28,1,1,2,3,2,4,5,4,...,10,11,12,12,14,74,65,75,75,72
1,2,2019-10-12,3,2,4,4,3,5,1,2,...,12,13,13,11,12,72,66,72,78,73
2,3,2019-09-10,1,1,1,1,1,1,1,1,...,16,12,12,12,20,52,48,72,92,76
3,7,2019-09-10,2,3,4,3,4,1,5,3,...,12,17,10,15,11,61,94,82,89,81
4,8,2019-08-28,4,3,4,3,4,3,5,4,...,6,18,14,9,4,89,83,65,82,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,138,2019-12-28,5,3,4,4,4,2,4,3,...,12,15,14,16,17,61,79,75,93,90
99,139,2019-12-28,4,4,4,3,4,4,3,4,...,11,14,14,13,12,72,84,81,86,77
100,140,2019-12-29,4,3,3,4,3,2,3,4,...,16,14,12,8,13,76,67,74,93,73
101,141,2019-12-30,2,4,5,3,4,2,1,5,...,17,17,13,13,19,57,69,88,100,94
102,142,2019-12-30,5,3,4,3,4,4,3,5,...,19,17,16,15,16,67,86,95,89,99

In [79]:
manager_requirement = pd.merge(df, df3[['participant_id', 'Neuroticism', 'Extraversion', 'Openness', 'Agreeableness', 'Conscientiousness']], on='participant_id', how='left')

# Print the merged dataframe
print(manager_requirement)

     valence   arousal  Dominance Pattern  Extracted_Roll_Number  \
0   2.927143  8.190000   6.972857  mit003                      3
1   6.240000  7.072500   6.385000  mit004                      4
2   3.155714  4.455714   3.440000  mit007                      7
3   4.500625  6.293125   3.675625  mit014                     14
4   2.534286  5.405714   4.107143  mit017                     17
5   3.148333  4.077917   3.105833  mit022                     22
6   2.275714  7.001429   2.147143  mit023                     23
7   3.872500  4.773750   4.663750  mit024                     24
8   1.087000  7.994000   7.362000  mit032                     32
9   3.963889  6.914444   4.987222  mit035                     35
10  2.385000  6.650000   5.256667  mit039                     39
11  6.168000  4.400000   4.950000  mit040                     40
12  2.713846  5.353846   3.473077  mit051                     51
13  4.112143  5.773214   2.057857  mit052                     52
14  1.012000  7.680000   6.204000  mit054                     54
15  6.423333  6.710000   5.867778  mit061                     61
16  2.770000  6.572857   4.648571  mit067                     67
17  3.697812  6.456563   5.008438  mit072                     72
18  2.840000  6.761053   3.318421  mit074                     74
19  1.037500  8.482500   7.007500  mit076                     76
20  4.794348  8.783478   5.599565  mit079                     79
21  2.025000  7.678333   2.438333  mit080                     80
22  3.297500  6.160000   4.737500  mit081                     81
23  3.463913  7.389565   5.753478  mit082                     82
24  4.814000  7.620000   7.194000  mit096                     96
25  2.528750  5.077500   4.047500  mit097                     97
26  3.147143  6.384762   4.719048  mit099                     99
27  7.396000  8.616000   6.210000  mit104                    104
28  6.230000  5.806667   6.624444  mit106                    106
29  3.016000  4.002000   3.658000  mit107                    107
30  4.349091  7.170000   5.908182  mit111                    111
31  3.521667  4.681667   2.995000  mit113                    113
32  4.384167  8.563333   7.306250  mit114                    114
33  3.403333  4.174167   5.710833  mit116                    116
34  3.505000  4.735000   8.290000  mit117                    117
35  4.512667  6.282667   7.200667  mit121                    121
36  3.295000  8.215000   4.630556  mit122                    122
37  1.104000  5.310000   2.330000  mit123                    123

    participant_id  Neuroticism  Extraversion  Openness  Agreeableness  \
0              124         55.0          79.0      91.0           98.0
1               79         41.0          73.0      80.0           92.0
2               41         81.0          80.0      95.0           92.0
3               64         99.0          60.0      75.0           97.0
4               48         66.0          72.0      72.0           75.0
5                8         89.0          83.0      65.0           82.0
6               69         75.0          74.0      75.0           93.0
7               54          NaN           NaN       NaN            NaN
8              130         66.0          70.0      77.0           67.0
9               99         80.0          61.0      81.0           75.0
10             132          NaN           NaN       NaN            NaN
11              30         58.0          86.0      84.0           78.0
12             125         67.0          86.0      86.0           83.0
13             101          NaN           NaN       NaN            NaN
14              75         53.0          74.0      77.0           93.0
15              46         71.0          84.0      84.0           80.0
16              92         74.0          76.0      85.0           84.0
17              72         45.0          86.0      88.0          112.0
18             122          NaN           NaN       NaN            NaN
19              93         72.0          76.0      66.0           98.0
20              83         72.0          82.0      73.0           76.0
21             117         78.0          79.0      78.0           84.0
22              82         71.0          76.0      80.0           75.0
23              10         66.0          73.0      76.0           80.0
24              81         69.0          75.0      83.0           85.0
25              12         70.0          80.0      84.0           85.0
26              37         79.0          75.0      77.0           93.0
27              62         83.0          83.0      84.0           92.0
28              73         70.0          95.0      83.0           75.0
29              38         83.0          86.0      66.0           71.0
30             115         68.0          91.0      87.0           84.0
31              97         72.0          90.0      88.0           95.0
32              68         46.0          81.0      78.0           83.0
33              56         73.0          76.0      81.0           88.0
34              17         49.0          99.0     105.0           98.0
35              77         75.0          71.0      87.0           96.0
36              98         63.0          77.0      98.0           98.0
37             100         62.0          73.0      82.0           74.0

    Conscientiousness
0                99.0
1                97.0
2                79.0
3                83.0
4                74.0
5                64.0
6                93.0
7                 NaN
8                72.0
9                75.0
10                NaN
11               70.0
12               82.0
13                NaN
14              101.0
15               81.0
16               77.0
17              112.0
18                NaN
19               89.0
20               77.0
21               79.0
22               75.0
23               86.0
24               86.0
25               72.0
26               68.0
27               76.0
28               83.0
29               75.0
30               90.0
31               86.0
32               97.0
33               77.0
34              108.0
35               81.0
36               96.0
37               92.0

In [83]:
cleaned_df = manager_requirement.dropna()
# Save the cleaned dataframe to a CSV file without including the index column
cleaned_df.to_csv('Noman_VAD_Ocean.csv', index=False)